# Custom cowrie.cfg for the honeypot-threat-intel project.
# Based on cowrie.cfg.dist, trimmed to what we actually use.
# Full reference: https://github.com/cowrie/cowrie/blob/master/etc/cowrie.cfg.dist

[honeypot]
hostname = srv-prod-04
log_path = var/log/cowrie
download_path = var/lib/cowrie/downloads
share_path = share/cowrie
state_path = var/lib/cowrie
etc_path = etc
contents_path = honeyfs
txtcmds_path = txtcmds
data_path = data
# Obviously-fake but plausible - real-looking prompt without revealing this is a honeypot
kernel_version = 5.15.0-91-generic
kernel_build_string = #101-Ubuntu SMP
hardware_platform = x86_64
operating_system = GNU/Linux

[shell]
filesystem = share/cowrie/fs.pickle
processes = share/cowrie/cmdoutput.json

[ssh]
enabled = true
listen_endpoints = tcp:2222:interface=0.0.0.0
version = SSH-2.0-OpenSSH_8.9p1 Ubuntu-3
rsa_public_key = etc/ssh_host_rsa_key.pub
rsa_private_key = etc/ssh_host_rsa_key
ecdsa_public_key = etc/ssh_host_ecdsa_key.pub
ecdsa_private_key = etc/ssh_host_ecdsa_key

[telnet]
enabled = true
listen_endpoints = tcp:2223:interface=0.0.0.0

[output_jsonlog]
enabled = true
logfile = var/log/cowrie/cowrie.json
epoch_timestamp = false

[output_localsyslog]
enabled = false

[output_textlog]
enabled = true
logfile = var/log/cowrie/cowrie.log

[output_downloadslog]
enabled = true
downloads_path = var/lib/cowrie/downloads
